{% load static %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounceIn">
                <h2 class="text-uppercase"> About Us</h2>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Mahmoud Elgayyar</h3>
                <h5> Professor at Faculty of computer and infromatics Seuz Canal University</h5>
                <h5>Position: Manager</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Sara El Sayed</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Ahmed Magdy</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Amany Samy</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Mohamed Taha</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Eman Kamal</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Mahmoud Ahmed</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Maha El-rayss</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Ahmed Shalash</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Eman Mostafa</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>

            <div class="col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <img src="{% static 'images/member-img.jpg' %}" class="img-responsive" alt="member img">

                <h3 class="text-uppercase">Mohamed Sabri</h3>
                <h5>Faculty: Seuz Canal University </h5>
                <h5>Position: Software Developer</h5>
                <h5>contact: <a href="#" onclick="return false;">here</a></h5>
            </div>
        </div>
    </div>
    </div>
</section>