{% load static %}
<section id="feature1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                <img src="{% static 'images/feature2-img.jpg' %}" class="img-responsive" alt="feature img">
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                <h2 class="text-uppercase">More of Features</h2>

                <p>There are more of features for our software which related with the type and form of the input
                    data.</p>

                <p><span><i class="fa fa-quote-left"></i></span>Our Software can deal with all forms of Arabic Writing
                    like Modern Standard Arabic(MSA),Dialectal Arabic(DA) and Franco-Arabic.

                <p><span><i class="fa fa-quote-left"></i></span>You can enter your inpute by many ways: </p>

                <div>
                    <span><li class="fa fa-spinner"></li></span>insert sentence manually and classify it.
                </div>
                <div>
                    <span><li class="fa fa-spinner"></li></span> upload data as txt file.
                </div>
                <div>
                    <span><li class="fa fa-spinner"></li></span> collect data from facebook page OR specify post Link.
                </div>

            </div>
        </div>
    </div>
</section>