{% load static %}
<section id="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="text-upper">What's Arabic Social Media Sentiment Analysis</h1>

                    <p class="tm-white">we now have a huge volume of opinionated arabic data in the social media on the
                        Web. Arabic Social Media Sentiment Analysis is focuses on opinions which express positive or
                        negative sentiments. Helping you with simple and awesome visualization for data analysis.
                        <img src="{% static 'images/dataChart-img.png' %}" class="img-responsive" alt="home img">
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>