<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounceIn">
                <h2 class="text-uppercase">Try it</h2>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing text-uppercase">
                    <div class="pricing-title">
                        <h4>insert sentence manually</h4>
                    </div>
                    <form id="sentence-form" action="{% url 'classify:sentence' %}" method="post">

                        <ul>
                            <li>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        {% csrf_token %}
                                        <input type="text" name="sentence" class="form-control"
                                               placeholder="insert sentence..."
                                               id="sentenc-input">
                                    </div>
                                </div>

                            </li>
                        </ul>
							 <span class="input-group-btn">
						        <button class="btn btn-default" type="submit" id="sentence-button">Classify</button>
						     </span>
                    </form>

                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing active text-uppercase">
                    <div class="pricing-title">
                        <h4>upload data as txt file</h4>
                    </div>
                    <form id="file-form" action="{% url 'classify:file' %}"
                          method="post" enctype="multipart/form-data">
                        <ul>
                            <li>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        {#                                    <input type="text" class="form-control col-md-8" readonly>#}

							                <span class="input-group-btn col-md-4">
							                    <span class="btn btn-primary btn-file">
							                        Add File &hellip;

                                                    {% csrf_token %}
                                                        <input
                                                                name="file"
                                                                type="file"
                                                                id="file-input">
							                    </span>
							                </span>

                                    </div>
                                </div>
                            </li>
                            <li>
									<span class="input-group-btn">
						        <button class="btn btn-default" type="submit">Classify</button>
						     </span>
                            </li>
                        </ul>
                    </form>


                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing text-uppercase">
                    <div class="pricing-title">
                        <h4>Collect data from facebook</h4>
                    </div>
                    <form id="post-form" action="{% url 'classify:post' %}" method="post">

                        <ul>
                            <li>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        {% csrf_token %}
                                        <input type="text" class="form-control" placeholder="insert post link ..."
                                               id="post-url-input" name="post_url">
                                    </div>
                                </div>

                            </li>
                        </ul>
							 <span class="input-group-btn">
						        <button class="btn btn-default" type="submit" id="post-url-button">Classify</button>
						     </span>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>